.contato{
    background: #FF739D;
}
.menu {
    text-decoration: none;
 
}

body{
    
    background: #FF739D;
    text-align: center;

}
.demo{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.divcabecalho {
    margin-top: 0;
    background-color: white;

}
.hdform{
color: white;
text-align: center;
text-decoration: none;

}
.rodape{
    background: white;
    margin-top: 700px;
    
}


